* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
#sec1 
{
  width: 100vw;
  height: 5.5vh;
  display: flex;
  background-color: black;
  margin: 0.5vw;
}
#h1 {
  font-family: 'Quantico', 'Farsan', 'Fugaz One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(233, 217, 127);
  margin: 0.5vw;
  padding: 0.2vw;
  position: relative;
  overflow: hidden;
  font-size: 4vh;
}

#h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-left: 5px solid red;
  animation: type 4s steps(20) infinite;

}

@keyframes type 
{

  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}
#img1cont
{
  height: 100%;
  width: auto;
}
#img1
{
  height: 100%;
  width: 100%;
  margin-top: 0.5vh;
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100%
  {
    transform: rotate(360deg);
  }

  }

  #btn1 {
  margin-right: 2vw;
  padding: 0.2vw;
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
  align-self: flex-start;
}
